<footer>
	<div id="content">
	<span id="marine">
		<img id="us_flag" src="/assets/flag.jpg">
		<p>Complete Custom Services is managed and led by a United States Marine. Supporting the Troops, Always! </p>
		<a href="http://www.marines.com" target="_blank">
			<img id="marine_img" src="/assets/marineburn.jpg">
		</a>
	</span>

	<div id="aff_imgs">
				<img id="" src="/assets/aegis.jpg">
				<img id="" src="/assets/ashe.jpg">
				<img id="" src="/assets/hensi.jpg">
				<img id="" src="/assets/usgbc.jpg">
				<img id="" src="/assets/wbe.png">
				<img id="" src="/assets/nfpa.jpg">
	</div>

	<span id="connect">
		<p>"Big enough to get the job done, <br>yet small enough to care."</p>
		<div id="social">
			<a href="http://www.twitter.com" target="_blank">
				<img id="" src="/assets/twitter.png">
			</a>
			<a href="http://www.facebook.com" target="_blank">
				<img id="" src="/assets/facebook.png">
			</a>
			<a href="http://www.youtube.com" target="_blank">
				<img id="" src="/assets/youtube.png">
			</a>
			<a href="http://www.linkedin.com" target="_blank">
				<img id="" src="/assets/linkedin.png">
			</a>
		</div>
	</span>
	</div>
</footer>