<footer>
	<span id="marine">
		<a href="http://www.marines.com" target="_blank">
			<img id="marine_img" src="/assets/marineburn.jpg">
		</a>		
		<p>Complete Custom Services is led by a US Marine. We support our troops! </p>
	</span>

	<span id="connect">
		<p>Connect with us</p>
		<a href="http://www.twitter.com" target="_blank">
			<img id="" src="/assets/twitter.png">
		</a>
		<a href="http://www.facebook.com" target="_blank">
			<img id="" src="/assets/facebook.png">
		</a>
		<a href="http://www.youtube.com" target="_blank">
			<img id="" src="/assets/youtube.png">
		</a>
		<a href="http://www.linkedin.com" target="_blank">
			<img id="" src="/assets/linkedin.png">
		</a>
	</span>
</footer>