<footer>
	<div id="content">
		<span id="marine">
			<img id="us_flag" src="/assets/flag.jpg">
			<a href="http://www.marines.com" target="_blank">
				<img id="marine_img" src="/assets/proud.jpg">
			</a>
			<p>Complete Custom Services is managed and led by a United States Marine. <br><br> Supporting the Troops, Always! </p>
		</span>

		<span id="connect">
			<div id="years">
				<img src="/assets/18logo.png">
			</div>
			<p>"Big enough to get the job done, <br>yet small enough to care."</p>
			<div id="social">
				<a href="http://www.twitter.com" target="_blank">
					<img id="" src="/assets/twitter.png">
				</a>
				<a href="http://www.facebook.com" target="_blank">
					<img id="" src="/assets/facebook.png">
				</a>
				<a href="http://www.youtube.com" target="_blank">
					<img id="" src="/assets/youtube.png">
				</a>
				<a href="http://www.linkedin.com" target="_blank">
					<img id="" src="/assets/linkedin.png">
				</a>
			</div>
		</span>

		<div id="aff_imgs">
			<a href="http://www.aegiscanada.ca" target="_blank">
				<img id="" src="/assets/aegis.png">
			</a>
			<a href="http://www.ashe.org" target="_blank">
				<img id="" src="/assets/ashe.png">
			</a>
			<a href="http://www.hesni.org" target="_blank">
				<img id="" src="/assets/hensi.png">
			</a>
			<a href="http://www.usgbc-illinois.org" target="_blank">
				<img id="" src="/assets/usgbc.png">
			</a>
			<a href="http://www.cookcountygov.com/portal/server.pt/community/contract_compliance,_office_of/285/mbe_wbe_vbe_certification">
				<img id="" src="/assets/wbe.png" target="_blank">
			</a>
			<a href="http://www.nfpa.org/99" target="_blank">
				<img id="" src="/assets/nfpa.png">
			</a>
		</div>
	</div>
</footer>