<div id="about_wrapper">
	<div id="container">
		<h1>About Us</h1>
		<h3>Affiliations</h3> 
			<p>
			Complete custom services is a womens owned buisness and authorized the use of the following womens buisness enterprise wbe logo:
			</p>
			<p>
			CMS WBE certified FBE Female Business Enterprise under the business enterprise program for minorities, females and persons with disabilities
			</p>
			<p>
			Complete custom services is also a member of american society of engineers.
			</p>
			<p>
			HENSI, The US Green Building Counsel and certified in the Application of AEGIS Micriobial Shield and Fire Stop.
			</p>
	</div>

</div>