<div id="about_wrapper">
	<div id="container">
		<div id="info">
			<h1>About Us</h1>
			<h3>Affiliations</h3> 
				<p>
					Complete custom services is a womens owned buisness and authorized the use of the following womens buisness enterprise WBE Logo
				</p>
					<img src="/assets/wbe.png" />
						<br>
						<br>
				<p>
					CMS WBE certified FBE Female Business Enterprise under the business enterprise program for minorities, females and persons with disabilities.
				</p>
				<p>
					Complete Custom Services is also a member of American Society of Engineers.
				</p>
					<img src="/assets/ashe.jpg" />
						<br>
						<br>
				<p>
					HENSI, The US Green Building Counsel are certified in the Application of AEGIS Micriobial Shield and Fire Stop.
				</p>
					<img src="/assets/hensi.jpg" />
					<img src="/assets/usgbc.jpg" />
					<img src="/assets/aegis.jpg" />
		</div>
	</div>
</div>