<div id="about_wrapper">
	<div id="container">
		<div id="info">
			<h1>About Us</h1>
<div id="affiliations">	
			<h3>Affiliations</h3> 
				<p>
					Complete custom services is a womens owned buisness and authorized the use of the following womens buisness enterprise WBE Logo
				</p>
				<p>
					CMS WBE certified FBE Female Business Enterprise under the business enterprise program for minorities, females and persons with disabilities.
				</p>
				<p>
					Complete Custom Services is also a member of American Society of Engineers.
				</p>
				<p>
					HENSI, The US Green Building Counsel are certified in the Application of AEGIS Micriobial Shield and Fire Stop.
				</p>
				</div>
				<div id="contacts">	
					<h3>Contacts</h3>
					<p>
						<b>Jackie Chianfaglione</b><br>	
						President and Chief Executive Officer <br>
						847-816-0655
					</p>
					
					<p>
						<b>Raffaello Chianfaglione</b><br>
						Chief Operating Officer & Executive Vice President <br>
						847-816-0655 <br>
						Field 847-668-9252
					</p>
				</div>

				<div class="clear"></div>
				
				<div id="long">
					<h3>Health and Safety</h3>
					<p>Environmental Health and Safety is an integral part of risk management at CCS. CCS’s has demonstrated that the more aligned our local business units, subcontractors and partners are with our safety ideal of loss avoidance, the safer and more successful the project outcome.</p>

					<h3>Structure</h3>
					<p>At CCS, we continually evaluate our operations and controls and strive to make our organization the best in the industry. The Safety Organization is structured to operate under one umbrella providing a strategic link and support function between Corporate Risk Management and  CCS’s local business units to assure that the risk management safety priorities are providing impact through an engaged and vetted  approach.</p>

					<h3>Standards, Policies and Guidelines</h3>
					<p>CCS strives to continually improve and identify risk while creating and enforcing the programs to reduce that risk whether through a best practice, new guideline, or policy. This results in a successful track record of bridging the company’s safety standards, with the reality of on-site project operations further supporting and driving the message to all levels of field and project staff.</p>

					<p>CCS’s support and commitment to safety continues to offer progressive and innovative program solutions. We are proud to support our clients and welcome intregating any standards, policies and guidelines  in to our buisness pracitice. </p>
				</div>
		</div>
	</div>
</div>