<h1>Contact</h1>
<%= link_to 'Home', pages_index_path %>
<%= link_to 'About', pages_about_path %>
<%= link_to 'Work', pages_work_path %>
<%= link_to 'Contact', pages_contact_path %>
<p>Please fee free to reach out, we'd love to hear from you</p>