<div id="index">
	<div class="header">
		<h1>Welcome to Complete Custom Services</h1> 
		<nav>
		<%#= link_to 'Home', pages_index_path, :id => 'home' %>
		<%#= link_to 'About', pages_about_path, :id => 'about' %>
		<%#= link_to 'Work', pages_work_path, :id => 'work' %>
		<%#= link_to 'Contact', pages_contact_path, :id => 'contact' %>
		</nav>
		<p>CCS is currently under construction and should be up and running very soon!</p>
	</div>
</div>