<div id="index">
	<div class="header">
		<h1>Welcome to Complete Custom Services</h1> 
		<%#= link_to 'Home', pages_index_path %>
		<%#= link_to 'About', pages_about_path %>
		<%#= link_to 'Work', pages_work_path %>
		<%#= link_to 'Contact', pages_contact_path %>
		<p>CCS is currently under construction and should be up and running very soon!</p>
	</div>
</div>