<div id="portfolio_wrapper">
	<div id="container">
		<div id="info">
			<h1>Portfolio</h1>
			<p>
				CCS works closely with the owners and developers of its commercial construction projects to maximize every construction dollar and minimize operational expenses. We work collaboratively with designers to deliver the project on budget. Throughout the process we implement LEAN practices to eliminate waste from schedules and give our owners confidence that we will deliver the project on time.</p>
			<h3>Some of our projects include:</h3>
			<ul>
				<li>Building Renovation</li>
				<li>Commercial / Office</li>
				<li>Education</li>
				<li>Healthcare</li>
				<li>Hospitality</li>
				<li>Interiors</li>
				<li>Science & Technology</li>
				<li>Sustainable</li>
			</ul>
		</div>
		<div id="nw_med"></div>
		<div class="clear"></div>
	</div>
</div>