<div id="portfolio_wrapper">
	<div id="container">
		<div id="info">
			<h1>Portfolio</h1>
				<h3>Notable Projects</h3>
				
		</div>
		<div id="nw_med"></div>
		<div class="clear"></div>
	</div>
</div>