<h1>Work</h1>
<nav>
<%= link_to 'Home', pages_index_path, :id => 'home' %>
<%= link_to 'About', pages_about_path, :id => 'about' %>
<%= link_to 'Work', pages_work_path, :id => 'work' %>
<%= link_to 'Contact', pages_contact_path, :id => 'contact' %>
</nav>
<p>Here are some examples of our work</p>